<div class="row">
    <div class="col-3" id="menu">
        <button type="button" class="btn btn-primary btn-block">Primary</button>
        <button type="button" class="btn btn-primary btn-block">Primary</button>
        <button type="button" class="btn btn-primary btn-block">Primary</button>
        <button type="button" class="btn btn-primary btn-block">Primary</button>
        <button type="button" class="btn btn-primary btn-block">Primary</button>
    </div>
    <div class="col-9">
        <div class="row" id="nav">
            <button type="button" class="btn btn-primary btn-sm">Primary</button>
            <button type="button" class="btn btn-primary btn-sm">Primary</button>
            <button type="button" class="btn btn-primary btn-sm">Primary</button>
            <button type="button" class="btn btn-primary btn-sm">Primary</button>
            <button type="button" class="btn btn-primary btn-sm">Primary</button>
        </div>
        <div class="row" id="content">
            contenido
        </div>
    </div>
</div>