<div class="row row-2 align-items-center home">
    <div class="col-6 d-flex justify-content-center">
        <div class="card ">
            <a href="#" class="btn-cap btn-link" data-cap="1">
                <img src="../media/imagenes/concepto/Captura.PNG" class="card-img-top" alt="..." style="height: 191px;">
            </a>
            <button type="button" class="btn btn-success btn-cap" data-cap="1">CONCEPTO</button>
        </div>
    </div>
    <div class="col-6 d-flex justify-content-center">
        <div class="card">
            <a href="#" class="btn-cap btn-link" data-cap="2">
                <img src="../media/imagenes/operacion/Captura.PNG" class="card-img-top" alt="..." style="height: 191px;">
            </a>
            
            <button type="button" class="btn btn-success btn-cap" data-cap="2">OPERACIÓN</button>
        </div>
    </div>
</div>
<div class="row row-2 align-items-center home">
    <div class="col-6 d-flex justify-content-center">
        <div class="card">
            <a href="#" class="btn-cap btn-link" data-cap="3">
                <img src="../media/imagenes/mantenimiento/Imagen6.jpg" class="card-img-top" style="height: 191px;">
            </a>
            
            <button type="button" class="btn btn-success btn-cap" data-cap="3">MANTENIMIENTO</button>
        </div>
    </div>
    <div class="col-6 d-flex justify-content-center">
        <div class="card">
            <a href="#" class="btn-cap btn-link" data-cap="4">
                <img src="../media/imagenes/troubleshooting/Imagen8.jpg" class="card-img-top" alt="..." style="height: 191px;">
            </a>
            
            <button type="button" class="btn btn-success btn-cap" data-cap="4">TROUBLE SHOOTING</button>
        </div>
    </div>
</div>