<div class="row">
    <div class="col-3">
        <div id="menu"></div>
    </div>
    <div class="col-9">
        <ol class="breadcrumb breadcrumb-arrow" id="nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Library</a></li>
            <li class="active"><span>Data</span></li>
        </ol>
        <div class="row" id="content">
            <h1 id="content-title"></h1>
            <div id="content-body">
            </div>
        </div>
    </div>
</div>