<div class="row align-items-center bienvenido">
    <div class="col text-center" style="color: #ffffff;font-size: 20px;">
        <h1 style="
    width: 290px;
    margin: auto;
    background: #00b12ed6;
    border-radius: 10px;
    font-size: 40px;
    padding-bottom: 5px;
">Fopel System</h1>
<button class="btn btn-success btn-lg display-none" id="enter" style="
margin-bottom: -250px;
">Ingresar</button>
    </div>
    <div class="" style="position: absolute;z-index: -10;margin-top: 60px;">
        <img src="../media/imagenes/concepto.jpg" alt="">
        <img src="../media/imagenes/concepto.jpg" alt="" style="margin-bottom: -200px;margin-left: -100px;">
        <img src="../media/imagenes/concepto.jpg" alt="" style="margin-left: 650px;">
        <div class="progress" style="width: 80%;margin: 30px auto -0px;">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        
    </div>
</div>