body {
    height: 550px;
    background-image: url("../media/imagenes/fondo-home.jpg");
    background-size: cover;
}

.bienvenido {
    height: 550px;;
}

.row-2 {
    height: 275px;
}

#menu {
    height: 510px;
    margin: 20px 0px;
    padding: 10px;
    background: #b7b0b09e;
    border-radius: 7px;
    overflow-y: auto;
}

#menu .btn-cap {
    background-color: #ff8000;
    border: #ff8000;
    min-height: 50px;
    font-weight: bold;
    font-size: large;
}

#menu .btn-cap:hover {
    background-color: #ff972e;
}

#menu .btn-cap.active {
    background-color: #ff972e;
}

#nav {
    margin-top: 20px;
    margin-right: 0px;
    margin-left: -15px;
    background: #b7b0b09e;
    border-radius: 7px;
}

#content {
    margin-top: 10px;
    margin-right: 0px;
    padding: 10px;
    background: #b7b0b09e;
    border-radius: 7px;
    height: 459px;
    overflow-y: auto;
    color:#ffffff;
}

#content #content-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    min-height: 55px;
    text-align: center;
    font-size: 2rem;

}

#content #content-body {
    width: 100%;
    min-height: 365px;
}

#content #content-body .row {
    margin-left: 0px;
    margin-right: 0px;
    align-items: center!important;
    /*margin-bottom: 20px;*/
}

#content #content-body .row-3 .col-12 {
    text-align: center;
}

#content #content-body .card {
    width: 225px;
    display: inline-flex;
    margin: 10px;
}

#content #content-body .card:hover {
    cursor: pointer;
    opacity: 0.8;
}

#content #content-body .card-body {
    text-align: center;
    padding: 10px;
}

#content #content-body .card-body .card-title {
    margin-bottom: 0px;
    color: #000000;
}

#content #content-body .seg-options {
    display: block;
    margin-top: 80px;
    padding-bottom: 50px;
}

#content #content-body .seg-options .btn {
    width: 320px;
    height: 60px;
    display: block;
    margin: auto;
}

#content #content-body .seg-options .btn.btn-2 {
    margin-top: 30px;
    margin-left: 0px;
}
#content #content-body .seg-options .btn.btn-3 {
    margin-top: -84px;
    margin-right: 0px;
}
#content #content-body .seg-options .btn.btn-4 {
    margin-top: 30px;
    margin-bottom: 50px;
}

#content #content-body .seg-options .fra-1 {
    margin-top: 30px;
    margin-left: 260px;
}
#content #content-body .seg-options .fra-2 {
    margin-top: -247px;
    margin-left: 470px;
}
#content #content-body .seg-options .fra-3 {
    margin-top: 30px;
    margin-left: 372px;
}

.flecha_roja_abajo {
    width: 40px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


.breadcrumb-arrow {
    height: 36px;
    padding: 0;
    line-height: 36px;
    list-style: none;
    background-color: #e6e9ed
}
.breadcrumb-arrow li:first-child a {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px
}
.breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span {
    display: inline-block;
    vertical-align: top
}
.breadcrumb-arrow li:not(:first-child) {
    margin-left: -5px
}
.breadcrumb-arrow li+li:before {
    padding: 0;
    content: ""
}
.breadcrumb-arrow li span {
    padding: 0 10px
}
.breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {
    height: 36px;
    padding: 0 10px 0 25px;
    line-height: 36px
}
.breadcrumb-arrow li:first-child a {
    padding: 0 10px
}
.breadcrumb-arrow li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    background-color: #6f5499;
    border: 1px solid #6f5499
}
.breadcrumb-arrow li:first-child a {
    padding-left: 10px
}
.breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before {
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    content: '';
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent
}
.breadcrumb-arrow li a:before {
    right: -10px;
    z-index: 3;
    border-left-color: #6f5499;
    border-left-style: solid;
    border-left-width: 11px
}
.breadcrumb-arrow li a:after {
    right: -11px;
    z-index: 2;
    border-left: 11px solid #4f3a6f;
}
.breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover {
    background-color: #936fcc;
    border: 1px solid #936fcc
}
.breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before {
    border-left-color: #936fcc
}
.breadcrumb-arrow li a:active {
    background-color: #2494be;
    border: 1px solid #2494be
}
.breadcrumb-arrow li a:active:after, .breadcrumb-arrow li a:active:before {
    border-left-color: #2494be
}
.breadcrumb-arrow li span {
    color: #434a54
}

.bloque-botones .btn-danger {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 300px;
}

.bloque-botones .btn-success {
    width: 150px;
    height: 62px;
}

.fallas-cabecera {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

.fallas-contenido .btn{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    min-height: 60px;
}

.modal {
    color: #000000;
}

.modal .modal-lg .modal-lg-height {
    overflow-y: auto;
    height: 100%;
}

.modal .modal-lg .nav-pills {
    /*margin-top: -190px;*/
    height: 100%;
    border-right: 1px solid #007bff;
}

.row.tab-height {
    height: 390px;
}

.row.tab-height .col-6,
.row.tab-height .col-4 {
    height: 100%;
}

.nav-pills .nav-link.active {
    margin-right: -1px;
    color: #007bff;
    background: #ffffff;
    border: 1px solid #007bff;
    border-right: 1px solid #ffffff;
    border-radius: 4px 0px 0px 4px;
}

.home .card {
    width: 400px;
    border: 0px;
    background: none;
}

.home .card img{
    margin-bottom: 10px;
    border-radius: 20px;
    border: 5px solid #4faf65fa;
}

.progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}

.display-none {
    display: none;
}

.componentes .btn {
    min-height: 62px;
    margin-bottom: 20px;
}

.table-ts thead {
    color: #ffffff;
    text-align: center;
}

.table-ts tbody td{
    width: 50%;
}

ul li,
ol li {
    text-align: justify;
    
}

.tab-pane ol li,
.tab-pane ul li {
    margin-left: -20px;
}

.intermitencia {
    animation-name: intermitencia;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:intermitencia;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes intermitencia{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes intermitencia {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }
  
  @keyframes intermitencia {  
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }

  .btn-link:hover {
   opacity: 0.5;
  }

  .btn-tarjeta {
      background-color: #007bff78;
      height: 150px;
  }

  .disabled2,
  .disabled2:focus,
  .disabled2:hover {
    pointer-events: none !important;
  }