<div class="row">
    <div class="col-6 text-center">
        <a href="#" class="btn-cap btn-link" data-cap="37">
            <img src="../media/imagenes/concepto/purificador/CONCEPTOP.png" alt="" style="width: 100%;">
        </a>
        <button class="btn btn-success btn-cap btn-lg" data-cap="37" style="
    margin-top: 20px;
">Purificador</button>
    </div>
    <div class="col-6 text-center">
        <a href="#" class="btn-cap btn-link"data-cap="38">
            <img src="../media/imagenes/concepto/componentes/componentes.png" alt="" style="height: 281.67px;width: 100%;">
        </a>
        <button class="btn btn-success btn-cap btn-lg" data-cap="38" style="
    margin-top: 20px;
">Componentes</button>
    </div>
</div>