<div class="row">
    <div class="col-6 text-center">
        <ul style="
    text-align: left;
    color: #ffffff;
    margin-bottom: 0px;
">
            <li>Después de 4000 horas de trabajo
            </li>
            <li>Después de 12,000 horas de trabajo
            </li>
            <li>Después de  20,000 horas de trabajo 
            </li>
            <li>Después de 28,000 horas de trabajo
            </li>
            <li>Después de 36,000 horas de trabajo
            </li>
            <li>Después de  48,000 horas de trabajo 
            </li>
        </ul>
    </div>
    <div class="col-6">
        <img src="../media/imagenes/concepto.jpg" alt="" style="
    width: 100%;margin-bottom: 20px;
">
    </div>
</div>
<div class="row">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td class="table-success">Inspección del BOWL</td>
                <td class="table-light">
                    <ul>
                        <li>Desmantelar el BOWL y CENTRIPETAL PUMP, limpiar sus partes y verificar si contienen corrosión o erosión.</li>
                        <li>Limpiar los hoyos, boquillas y cámaras del sistema hidráulico.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="table-success">Remplazar GASKETS y PISTON GUIDE RING
                </td>
                <td class="table-light">
                    <ul>
                        <li>Cambiar el POLYAMIDE GASKET 
                            solo si esta dañado
                       </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="table-success">Cambiar el aceite del DRIVE CHAMBER
                </td>
                <td class="table-light">
                    <ul>
                        <li>Usando mineral o synthetic oil (dependerá del manual de fabricante)
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="table-success">Limpiar el filtro y tubería del OPERATING LIQUID FEED SYSTEM
                </td>
                <td class="table-light">
                    <ul>
                        <li>Limpiar con un cepillo sacando cualquier materia que obstruya 
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="table-success">Verificar el NON RETURN VALVE
                </td>
                <td class="table-light">
                    <ul>
                        <li>Limpiar los hoyos de la válvula y rociar con agua 
                        </li>
                        <li>Verificar su correcto funcionamiento
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="table-success">Verificar el MOTOR
                </td>
                <td class="table-light">
                    <ul>
                        <li>Re lubricar los BEARINGS si es necesario
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="table-success">Verificar WATER DETECTOR
                </td>
                <td class="table-light">
                    <ul>
                        <li>Limpiarlo cuidadosamente con un trapo suave o con Diesel si es necesario
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="table-success">Verificar SIGHT GLASS
                </td>
                <td class="table-light">
                    <ul>
                        <li>Limpiarlo cuidadosamente con un trapo suave o con Diesel si es necesario
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="table-success">Verificar las mangueras y tuberías
                </td>
                <td class="table-light">
                    <ul>
                        <li>Remplazar si es necesari0
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>