<div class="row align-items-center">
    <div class="col-12">
        <p>Apague el interruptor principal y bloquéelo</p>
    </div>
</div>
<div class="row align-items-center">
    <div class="col-5">
        <img src="../media/imagenes/alerta.png" class="align-middle intermitencia"  alt="" style="width: 100px;margin-left: auto;margin-right: auto;display: block;">
    </div>
    <div class="col-7">
        <ul>
            <li>¡Peligro de muerte por piezas del separador giratorias de alta velocidad!
            </li>
            <li>¡Peligro de lesiones por la correa de transmisión giratoria!
            </li>
            <li>¡Peligro de lesiones por piezas del separador muy calientes!
            </li>
            <li>¡Peligro de muerte y lesiones corporales por corriente eléctrica! ¡Puede haber tensión residual!
            </li>
            <li>En el caso de motores con calefactores portátiles, son posibles tensiones residuales en la caja de bornes del motor a pesar de que el interruptor principal está desconectado.
            </li>
        </ul>
    </div>
</div>
<div class="row align-items-center">
    <div class="col-12">
        <video id="video" width="100%" height="350" controls><source src="../media/videos/mov_bbb.mp4"></video>
    </div>
</div>