<div class="row align-items-center">
    <div class="col-12">
        <p>Preste especial atención a lo siguiente:
        </p>
    </div>
</div>
<div class="row align-items-center">
    <div class="col-5">
        <img src="../media/imagenes/alerta.png" alt="" class="intermitencia" style="width: 100px;margin-left: auto;margin-right: auto;display: block;">
    </div>
    <div class="col-7">
        <ul>
            <li>¡Peligro de desequilibrio!</li>
            <li>¡Utilice dispositivos de elevación adecuados para evitar accidentes!
            </li>
            <li>¡Peligro de muerte al transportar piezas pesadas!
            </li>
            <li>¡Evite accidentes utilizando herramientas completas y sin daños!
            </li>
        </ul>
    </div>
</div>
<div class="row align-items-center">
    <div class="col-12">
        <video id="video" width="100%" height="350" controls><source src="../media/videos/mov_bbb.mp4"></video>
    </div>
</div>