<div class="row align-items-center" style="
    margin-bottom: 20px;
">
    <div class="col-5">
        <img src="../media/imagenes/alerta.png" class="intermitencia" alt="" style="width: 100px;margin-left: auto;margin-right: auto;display: block;">
    </div>
    <div class="col-7">
        <ul>
            <li>Utilice únicamente un agente de limpieza aprobado para el campo de aplicación.
            </li>
            <li>No utilice agentes de limpieza ácidos o clorados.
            </li>
            <li>Para limpiar los discos individuales y las piezas de la cubeta ¡No utilice raspadores ni cepillos metálicos!
            </li>
        </ul>
    </div>
</div>
<div class="row align-items-center" style="
    margin-bottom: 20px;
">
    <div class="col-5">
        <img src="../media/imagenes/mantenimiento/bowl/cleaning/Imagen13.png" alt="" style="width: 100%;">
    </div>
    <div class="col-7">
        <ul>
            <li>Saque los GASKETS de las piezas del BOWL
            </li>
            <li>Limpiar las ranuras para evitar la corrosión en   las  ranuras.
            </li>
            <li>Reemplace inmediatamente las GASKETS dañados, muy hinchadas, endurecidas o quebradizas.
            </li>
        </ul>
    </div>
</div>
<div class="row align-items-center" style="
    margin-bottom: 20px;
">
    <div class="col-5">
        <img src="../media/imagenes/mantenimiento/bowl/cleaning/Imagen14.png" alt="" style="width: 100%;">
    </div>
    <div class="col-7">
        <ul>
            <li>Limpiar el distribuidor entre las nervaduras con el cepillo por dentro y por fuera.
            </li>
            <li>Cuando el cuello del distribuidor está muy sucio, la alimentación se atasca y puede provocar un desbordamiento.
            </li>
        </ul>
    </div>
</div>
<div class="row align-items-center" style="
    margin-bottom: 20px;
">
    <div class="col-5">
        <img src="../media/imagenes/mantenimiento/bowl/cleaning/Imagen15.png" alt="" style="width: 100%;">
    </div>
    <div class="col-7">
        <ul>
            <li>Cuando se ha retirado el recipiente, no debe derramarse líquido de limpieza sobre la correa de transmisión a través del eje.
            </li>
            <li>Asegúrese de que la tapa protectora 2 y la tapa del eje 1 con la junta insertada estén instaladas.
            </li>
        </ul>
    </div>
</div>
<div class="row align-items-center" style="
    margin-bottom: 20px;
">
    <div class="col-5">
        <img src="../media/imagenes/mantenimiento/bowl/cleaning/Imagen16.png" alt="" style="width: 100%;">
    </div>
    <div class="col-7">
        <ul>
            <li>Afloje el tornillo 1 (distancia entre mordazas 22) con la junta 2 montada.
            </li>
            <li>Retire el elemento filtrante 3.
            </li>
            <li> Limpiar o reemplazar el elemento filtrante 3.</li>
            <li>Utilizar ácido cítrico en caso de enrasar.
            </li>
            <li> Limpiar a fondo las piezas con agua.
            </li>
        </ul>
    </div>
</div>