<div class="row align-items-center" style="
    margin-bottom: 20px;
">
  <div class="col-12">
      <p>Sustitución de la POLYAMIDE GASKET (BOWL TOP)
    </p>
  </div>
</div>
<div class="row align-items-center" style="
    margin-bottom: 20px;
">
    <div class="col-5">
        <img src="../media/imagenes/mantenimiento/bowl/gasket_change/Imagen17.png" alt="" style="width: 100%;">
    </div>
    <div class="col-7">
        <p>¡NO dañe la ranura superior del tazón al perforar!
        </p>
        <ul>
            <li>Perfore a través de la junta de poliamida dañada dos veces en el centro y en vertical, con una broca de 2 mm, a una distancia de aprox. 50 a 60 mm.    
            </li>
        </ul>
    </div>
</div>
<div class="row align-items-center" style="
    margin-bottom: 20px;
">
    <div class="col-5">
        <img src="../media/imagenes/mantenimiento/bowl/gasket_change/Imagen18.png" alt="" style="width: 100%;">
    </div>
    <div class="col-7">
        <p>¡NO dañe la ranura superior del tazón al atornillar!
        </p>
        <ul>
            <li>Atornille dos tornillos de madera en los orificios de la junta de poliamida.
            </li>
            <li>Saque la vieja junta de poliamida con los tornillos para madera y haga palanca poco a poco para sacarlo de la ranura con un destornillador.
            </li>
        </ul>
    </div>
</div>
<div class="row align-items-center" style="
    margin-bottom: 20px;
">
    <div class="col-5">
        <img src="../media/imagenes/mantenimiento/bowl/gasket_change/Imagen19.png" alt="" style="width: 100%;">
    </div>
    <div class="col-7">
        <ul>
            <li>Coloque la junta en la ranura de la parte superior del tazón (con el lado estrecho hacia la parte superior del tazón).
            </li>
            <li>Coloque sobre un bloque de madera liso.
            </li>
            <li>Martille la junta uniformemente en la ranura.
            </li>
        </ul>
    </div>
</div>