<div class="row align-items-center">
    <div class="col-12">
        <p>Es necesario comprobar el BOWL HEIGHT:
        </p>
        <ul>
            <li>después de reemplazar las DRIVE PARTS</li>
            <li>después de colocar otro BOWL</li>
            <li>después de instalar un CENTRIPETAL PUMP</li>
            <li>Lo mas pronto posible cuando el CENTRIPETAL PUMP muestre desperfectos
            </li>
        </ul>
    </div>
</div>
<div class="row align-items-center">
    <div class="col-4">
        <img src="../media/imagenes/mantenimiento/height_adjustment/bowl_height/Imagen23.png" alt="" style="width: 100%;">
    </div>
    <div class="col-8">
        <p>Ajuste el BOWL TOP firmemente:</p>
        <ul>
            <li>Las marcas O del fondo del BOWL y la parte superior del BOWL deben estar alineadas</li>
        </ul>
    </div>
</div>
<div class="row" style="margin-top: 20px;">
    <div class="col-4">
        <img src="../media/imagenes/mantenimiento/height_adjustment/bowl_height/Imagen24.png" alt="" style="width: 100%;">
    </div>
    <div class="col-8">
        <p>Verificar el nivel de dimensión de A:</p>
        <ul>
            <li>Entre el borde superior del BOWL TOP y del FRAME TOP.
            </li>
        </ul>
    </div>
</div>
<div class="row" style="margin-top: 20px;">
    <div class="col-4">
        <img src="../media/imagenes/alerta.png" class="intermitencia" alt="" style="width: 100px;margin-left: auto;margin-right: auto;display: block;">
    </div>
    <div class="col-8">
        <ul>
            <li>La distancia dependerá del manual del fabricante</li>
        </ul>
    </div>
</div>