<div class="row">
    <div class="col-4">
        <img src="../media/imagenes/mantenimiento/height_adjustment/centripetal_pump/Imagen25.png" alt="" style="width: 100%;">
    </div>
    <div class="col-8">
        <ul>
            <li>Mueva el CENTRIPETAL PUMP axialmente hacia adelante y hacia atrás en la cámara del CENTRIPETAL PUMP.
            </li>
            <li>Mida el espacio total A
                (aprox. 10 Mm).
            </li>
            <li>Cierre el HOOD.
            </li>
        </ul>
        <div class="row">
            <div class="col-2"><img src="../media/imagenes/alerta.png" class="intermitencia" alt="" style="width: 80px;margin-left: auto;margin-right: auto;display: block;"></div>
            <div class="col-10">
                <p>Verifique:
                </p>
                <ul>
                    <li>¿Está correctamente asentado el HOOD en el borde del FRAME?
                    </li>
                    <li>¿Están apretados los tornillos del HOOD?
                    </li>
                    <li>¿firmemente?
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <img src="../media/imagenes/mantenimiento/height_adjustment/centripetal_pump/Imagen26.png" alt="" style="width: 100%;">
    </div>
    <div class="col-8">
        <ul>
            <li>Sujete la pieza de conexión del mango 1.
            </li>
            <li>Gire el destornillador acodado 2 hasta que la pieza de conexión del mango se levante ligeramente del capó (aprox. 0,5 mm).
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <img src="../media/imagenes/mantenimiento/height_adjustment/centripetal_pump/Imagen27.png" alt="" style="width: 100%;">
    </div>
    <div class="col-8">
        <ul>
            <li>Levantar al máximo la pieza de conexión del mango.
            </li>
            <li>Mida el juego axial. A / 2
            </li>
        </ul>
        <div class="row">
            <div class="col-2"><img src="../media/imagenes/alerta.png" class="intermitencia" alt="" style="width: 80px;margin-left: auto;margin-right: auto;display: block;"></div>
            <div class="col-10">
                <p>Verifique:
                </p>
                <ul>
                    <li>La distancia dependerá del manual del fabricante
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>