<!--div class="row fallas-cabecera">
    < <div class="col-4">Falla</div>
    <div class="col-6">Posibles Causas</div>
    <div class="col-6">Acción</div>
</div>
<div class="row fallas-contenido">
    <div class="col-4">
        <button class="btn btn-success">El BOWL se abre durante la separación
        </button>
    </div> >
    <div class="col-6">
        <button class="btn btn-warning">El pulso de agua de cierre es demasiado corto. El agua de cierre se evapora
        </button>
        <button class="btn btn-warning">El pulso de agua de cierre es demasiado largo. Al cerrar el impulso de agua se
            abre el BOWL
        </button>
    </div>
    <div class="col-6">
        <button class="btn btn-primary">Reajustar el impulso de agua de cierre
        </button>
    </div>
</div-->

<div class="row">
    <div class="col-12">
        <table class="table table-bordered table-hover table-ts">
            <thead>
                <tr>
                    <th scope="col">Posibles Causas</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="table-success">El pulso de agua de cierre es demasiado corto. El agua de cierre se
                        evapora</td>
                    <td class="table-light align-middle" rowspan="2">
                        Reajustar el impulso de agua de cierre
                    </td>
                </tr>
                <tr>
                    <td class="table-success">
                        <p class="align-middle">
                            El pulso de agua de cierre es demasiado largo. Al cerrar el impulso de
                            agua se abre el BOWL
                        </p>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>