<!--div class="row fallas-cabecera">
    <div class="col-4">Falla</div>
    <div class="col-6">Posibles Causas</div>
    <div class="col-6">Acción</div>
</div>
<div class="row fallas-contenido">
    <<div class="col-4">
        <button class="btn btn-success">El BOWL no cierra apropiadamente
        </button>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <button class="btn btn-warning">La unidad de control está defectuosa o
                    El motor no está configurado correctamente
                </button>
            </div>
            <div class="col-6">
                <button class="btn btn-primary">Verificar el panel de control y resetear si es necesario
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button class="btn btn-warning">Pulso de agua de cierre demasiado corto
                </button>
            </div>
            <div class="col-6">
                <button class="btn btn-primary">Configurarlo en 1 seg. en el panel de control
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button class="btn btn-warning">El filtro de la línea de agua de funcionamiento, llenado y
                    desplazamiento está
                    sucio
                </button>
            </div>
            <div class="col-6">
                <button class="btn btn-primary">Cerrar la válvula de ingreso de agua y limpiar el filtro</button>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button class="btn btn-warning">La capacidad de agua de funcionamiento es demasiado baja
                </button>
            </div>
            <div class="col-6">
                <button class="btn btn-primary">Verificar la línea de presión e incrementar si es necesario
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button class="btn btn-warning">
                    La línea de agua operativa se ha estrechado debido a la acumulación de suciedad o daños

                </button>
            </div>
            <div class="col-6">
                <button class="btn btn-primary">
                    Limpiar o reemplazar la línea de agua operativa

                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button class="btn btn-warning">
                    La válvula solenoide de agua en funcionamiento no se abre correctamente

                </button>
            </div>
            <div class="col-6">
                <button class="btn btn-primary">
                    Revise la válvula solenoide y reemplácela si es necesario

                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button class="btn btn-warning">
                    GASKETS y PISTON GUIDE RING están dañados

                </button>
            </div>
            <div class="col-6">
                <button class="btn btn-primary">
                    Reemplazar todos los elementos de sellado
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button class="btn btn-warning">
                    El sistema hidráulico del BOWL está sucio

                </button>
            </div>
            <div class="col-6">
                <button class="btn btn-primary">
                    Remueva el HOOD y
                    desmontar y limpiar el BOWL

                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button class="btn btn-warning">
                    Aro de sellado del pistón deslizante dañado.

                </button>
            </div>
            <div class="col-6">
                <button class="btn btn-primary">
                    Reemplazar todos los elementos de sellado

                </button>
            </div>
        </div>
    </div>
</div-->

<div class="row">
    <div class="col-12">
        <table class="table table-bordered table-hover table-ts">
            <thead>
                <tr>
                    <th scope="col">Posibles Causas</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="table-success">
                        La unidad de control está defectuosa o El motor no está configurado correctamente</td>
                    <td class="table-light">
                        Verificar el panel de control y resetear si es necesario
                    </td>
                </tr>
                <tr>
                    <td class="table-success">
                        Pulso de agua de cierre demasiado corto
                    </td>
                    <td class="table-light">
                        Configurarlo en 1 seg. en el panel de control
                    </td>
                </tr>
                <tr>
                    <td class="table-success">
                        El filtro de la línea de agua de funcionamiento, llenado y
                        desplazamiento está
                        sucio
                    </td>
                    <td class="table-light">
                        Cerrar la válvula de ingreso de agua y limpiar el filtro
                    </td>
                </tr>
                <tr>
                    <td class="table-success">
                        La capacidad de agua de funcionamiento es demasiado baja
                    </td>
                    <td class="table-light">
                        Verificar la línea de presión e incrementar si es necesario
                    </td>
                </tr>
                <tr>
                    <td class="table-success">
                        La línea de agua operativa se ha estrechado debido a la acumulación de suciedad o daños
                    </td>
                    <td class="table-light">
                        Limpiar o reemplazar la línea de agua operativa
                    </td>
                </tr>
                <tr>
                    <td class="table-success">
                        La válvula solenoide de agua en funcionamiento no se abre correctamente
                    </td>
                    <td class="table-light">
                        Revise la válvula solenoide y reemplácela si es necesario
                    </td>
                </tr>
                <tr>
                    <td class="table-success">
                        GASKETS y PISTON GUIDE RING están dañados
                    </td>
                    <td class="table-light">
                        Reemplazar todos los elementos de sellado
                    </td>
                </tr>
                <tr>
                    <td class="table-success">
                        El sistema hidráulico del BOWL está sucio
                    </td>
                    <td class="table-light">
                        Remueva el HOOD y
                        desmontar y limpiar el BOWL
                    </td>
                </tr>
                <tr>
                    <td class="table-success">
                        Aro de sellado del pistón deslizante dañado.
                    </td>
                    <td class="table-light">
                        Reemplazar todos los elementos de sellado
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>