<div class="row">
    <div class="col-12">
        <table class="table table-bordered table-hover table-ts">
            <thead>
                <tr>
                    <th scope="col">Posibles Causas</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="table-success">
                        El panel de control esta defectuoso. El motor no esta correctamente colocado</td>
                    <td class="table-light">
                        Verificar el panel de control y resetear si es necesario
                    </td>
                </tr>
                <tr>
                    <td class="table-success">
                        Tiempo para abrir el agua demasiado corto
                    </td>
                    <td class="table-light">
                        Configurarlo en el panel de control
                    </td>
                </tr>
                <tr>
                    <td class="table-success">
                        El filtro de la línea de agua de funcionamiento, llenado y desplazamiento está sucio
                    </td>
                    <td class="table-light">
                        Cerrar la válvula de ingreso de agua  y limpiar el filtro
                    </td>
                </tr>
                <tr>
                    <td class="table-success">
                        La capacidad de agua de funcionamiento es demasiado baja
                    </td>
                    <td class="table-light">
                        Verificar la línea de presión e incrementar si es necesario
                    </td>
                </tr>
                <tr>
                    <td class="table-success">
                        La línea de agua operativa se ha estrechado debido a la acumulación de suciedad o daños
                    </td>
                    <td class="table-light">
                        Limpiar o reemplazar la línea de agua operativa
                    </td>
                        
                </tr>
                <tr>
                    <td class="table-success">
                        La válvula solenoide de agua en funcionamiento no se abre correctamente
                    </td>
                    <td class="table-light">
                        Revise la válvula solenoide y reemplácela si es necesario
                    </td>
                </tr>
                <tr>
                    <td class="table-success">
                        GASKETS y PISTON GUIDE RING están dañados
                    </td>
                    <td class="table-light">
                        Reemplazar todos los elementos de sellado
                    </td>
                </tr>
                <tr>
                    <td class="table-success">
                        El sistema hidráulico del BOWL está sucio
                    </td>
                    <td class="table-light">
                        Remueva el HOOD y
                    desmontar y limpiar el BOWL
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>