<div class="row">
    <div class="col-12">
        <table class="table table-bordered table-hover table-ts">
            <thead>
                <tr>
                    <th scope="col">Posibles Causas</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="table-success">
                        Ha corrido aceite por el eje hasta la correa de transmisión; la correa de transmisión se resbala
                        en el eje del BOWL
                    </td>
                    <td class="table-light">
                        Cambiar el DRIVE BELT
                    </td>
                </tr>
                <tr>
                    <td class="table-success">
                        El motor esta conectado incorrectamente
                    </td>
                    <td class="table-light">
                        Verificar las conexiones
                    </td>
                </tr>
                <tr>
                    <td class="table-success">
                        CLUTCH SHOES insuficientes
                    </td>
                    <td class="table-light">
                        Incrementar el número de CLUTCH SHOES
                    </td>
                </tr>
                <tr>
                    <td class="table-success">
                        La DRIVE BELT se ha estirado
                    </td>
                    <td class="table-light">
                        Remplazar el DRIVE BELT
                    </td>
                </tr>
                <tr>
                    <td class="table-success">
                        Se ha acumulado líquido o suciedad en la sección superior del FRAME y está frenando el BOWL
                    </td>
                    <td class="table-light">
                        Verificar que el agua de operación de descarga funcione y limpiar adentro
                    </td>

                </tr>
                <tr>
                    <td class="table-success">
                        DRIVE BELT no ha sido colocado correctamente
                    </td>
                    <td class="table-light">
                        Verificar la correcta posición
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>