<div class="row">
    <div class="col-12">
        <table class="table table-bordered table-hover table-ts">
            <thead>
                <tr>
                    <th scope="col">Posibles Causas</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="table-success">
                        La DRIVE BELT se ha estirado
                    </td>
                    <td class="table-light">
                        Remplazar el DRIVE BELT
                    </td>
                </tr>
                <tr>
                    <td class="table-success">
                        Las superficies de fricción de los CLUTCH SHOES están aceitosas
                    </td>
                    <td class="table-light">
                        Limpiar la superficie de los CLUTCH SHOES
                    </td>
                </tr>
                <tr>
                    <td class="table-success">
                        La velocidad del motor baja en la operacion
                    </td>
                    <td class="table-light">
                        Verificar el motor y la línea de voltaje
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>