<div class="row">
    <div class="col-12">
        <table class="table table-bordered table-hover table-ts">
            <thead>
                <tr>
                    <th scope="col">Posibles Causas</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="table-success">
                        Muchos CLUTCH SHOES se están usando
                    </td>
                    <td class="table-light">
                        Reducir el número de CLUTCH SHOES
                    </td>
                </tr>


            </tbody>
        </table>
    </div>
</div>