<div class="row">
    <div class="col-12">
        <table class="table table-bordered table-hover table-ts">
            <thead>
                <tr>
                    <th scope="col">Posibles Causas</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="table-success">
					La suciedad separada se ha depositado de manera desigual en el recipiente
                    </td>
                    <td class="table-light">
					Limpiar el BOWL
                    </td>
                </tr>
                <tr>
                    <td class="table-success">
                        El BOWL no ha sido correctamente montado
                    </td>
                    <td class="table-light">
                        Desmantelar y montar el BOWL correctamente
                    </td>
                </tr>
                <tr>
                    <td class="table-success">
                        La presión en los DISK STACK se ha aflojado
                    </td>
                    <td class="table-light">
                        Ajustar y verificar los DISK STACKS
                    </td>
                </tr>
                <tr>
                    <td class="table-success">
                        BALL BEARINGS se han dañado
                    </td>
                    <td class="table-light">
                       Reemplazar el BEARING dañado
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>