<div class="row">
    <div class="col-12">
        <table class="table table-bordered table-hover table-ts">
            <thead>
                <tr>
                    <th scope="col">Posibles Causas</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="table-success">
					La capacidad del agua de operación es muy baja
                    </td>
                    <td class="table-light">
					Verificar la línea de presión, incrementar si es necesario
                    </td>
                </tr>
                <tr>
                    <td class="table-success">
                        El tiempo de separación ha sido cambiado por muy largo y así tener más contenido sólido
                    </td>
                    <td class="table-light">
                        Reducir el tiempo de separación en el panel de control
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>