<div class="row ">
    <div class="col-2"></div>
    <div class="col-8">
        <p class="text-justify">Maquinaria utilizada para la limpieza y purificación de diferente tipos de
            fluidos</p>
    </div>
    <div class="col-2"></div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <p class="text-justify">La limpieza y purificación de los fluidos se da gracias a 3 principios</p>
    </div>
    <div class="col-2"></div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <button class="btn btn-primary btn-cap btn-tarjeta" data-modal="modal-btn-2" onclick="$('#modal-btn-fc').modal('show')"
            style="margin-bottom: 10px;width: 155px;">Fuerza
            centrípeta</button>
        <button class="btn btn-primary btn-cap btn-tarjeta" data-modal="modal-btn-2" onclick="$('#modal-btn-dd').modal('show')"
            style="margin-bottom: 10px;width: 155px;">Diferencia de
            densidades</button>
        <button class="btn btn-primary btn-cap btn-tarjeta" data-modal="modal-btn-2" onclick="$('#modal-btn-sa').modal('show')"
            style="margin-bottom: 10px;width: 155px;">Sello de agua</button>
    </div>
    <div class="col-2"></div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <p class="text-justify">Cuando actúan los 3 principios juntos hacen posible la
            purificación.</p>
    </div>
    <div class="col-2"></div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <p class="text-justify">A bordo, la purificación de FO ayuda a las maquinarias a tener una mayor
            eficiencia durante su proceso.</p>
    </div>
    <div class="col-2"></div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <p class="text-justify">Un combustible purificado ayuda a reducir los riesgos de falla y deterioro
            de la maquinaria</p>
    </div>
    <div class="col-2"></div>
</div>

<div class="modal fade" id="modal-btn-fc" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Fuerza centrípeta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-6">
                        <p style="text-align: justify;">La fuerza centrípeta es dada por una bomba centrípeta que actúa
                            sobre el fluido a purificar</p>
                        <p style="text-align: justify;">La bomba hace que el fluido gire alrededor de su eje</p>
                        <p style="text-align: justify;">El movimiento giratorio crea una fuerza de reacción que hace que
                            el fluido valla hacia el centro de la circunferencia creada por la misma</p>
                    </div>
                    <div class="col-4">
                        <img src="../media/imagenes/concepto/purificador/FUERZA CENTRIPETA.png" alt="" style="width: 100%;">
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-btn-dd" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Diferencia de Densidades</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row tab-height">
                    <div class="col-4">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                            aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
                                role="tab" aria-controls="v-pills-home" aria-selected="true">Concepto</a>
                            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"
                                role="tab" aria-controls="v-pills-profile" aria-selected="false">Densidad</a>
                            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages"
                                role="tab" aria-controls="v-pills-messages" aria-selected="false">En el Purificador</a>
                        </div>
                    </div>
                    <div class="col-8 modal-lg-height">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active text-center" id="v-pills-home" role="tabpanel"
                                aria-labelledby="v-pills-home-tab" >
                                <p style="text-align: justify;">La diferencia de densidades se da entre 2 o mas cuerpos dependiendo de la masa y
                                    volumen con la que cuenten estos antes mencionados, un cuerpo ya sea en estado
                                    liquido solido o gaseoso con mayor masa y menor volumen contara con una mayor
                                    densidad que un cuerpo que muestre como características una menor masa y un mayor
                                    volumen.</p>
                                <button class="btn btn-warning btn-lg"
                                    style="color: #ffffff;margin-bottom: 20px;">EJEMPLO</button>
                                <p style="text-align: justify;">Por ejemplo, en la imagen se ve que dos cuerpos(madera y
                                    acero) que cuentan con el mismo volumen son puestos en recipientes con agua pero a
                                    pesar de que tienen la misma cantidad de volumen, se observa que el acero se hunde
                                    debido a que cuenta con una mayor cantidad de masa, la cual indica que el objeto de
                                    madera cuenta con una menor densidad y el objeto de acero tiene una mayor densidad
                                </p>
                                <img src="../media/imagenes/concepto/purificador/EJEMPLO.png" alt="" style="width: 300px;">
                            </div>
                            <div class="tab-pane fade text-center" id="v-pills-profile" role="tabpanel"
                                aria-labelledby="v-pills-profile-tab">
                                <p style="text-align: justify;">La densidad la podemos es la propiedad que tiene la
                                    materia, ya sean sólidos, líquidos o gases, para comprimirse en un espacio
                                    determinado y se obtiene haciendo la división de su masa entre el volumen que ocupa;
                                    Pero esta densidad puede variar en función de la materia de la que está formado el
                                    cuerpo, excepto los sólidos</p>
                                <img src="../media/imagenes/concepto/purificador/DENSIDAD.png" alt="" style="width:200px">
                            </div>
                            <div class="tab-pane fade text-center" id="v-pills-messages" role="tabpanel"
                                aria-labelledby="v-pills-messages-tab">
                                <p style="text-align: justify;">La diferencia de densidades dentro de un purificador se
                                    dará entre el agua, el combustible y partículas de lodo que se pueden encontrar
                                    dentro del combustible a purificar, esto hace que la fuerza centrípeta en conjunto
                                    con la diferencia de densidades de los fluidos pueda realizar un efectivo proceso de
                                    purificación del combustible.</p>
                                <img src="../media/imagenes/concepto/purificador/DIFERENCIA DE DENSIDADES EN EL PURIFICADOR.png" alt="" style="width: 400px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-btn-sa" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Sello de Agua</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-5" >
                        <p style="text-align: justify;">El sello de agua dentro de un purificador se da gracias al agua
                            suministrada por la misma maquinaria para poder limpiar o purificar el combustible o el
                            fluido, este hace que los lodos que se puedan encontrar dentro del combustible sean
                            atrapadas por este sello para que al momento de eyección de el agua estos lodos se
                            descarguen juntos.</p>
                    </div>
                    <div class="col-4">
                        <img src="../media/imagenes/concepto/purificador/SELLO DE AGUA.png" alt="" style="width: 280px;">
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>
    </div>
</div>