<div class="row componentes">
    <div class="col-4">
        <button class="btn btn-primary btn-block btn-tarjeta" data-modal="modal-btn-2"
            onclick="$('#modal-btn-bc').modal('show')">Bomba Centrípeta</button>
    </div>
    <div class="col-4">
        <button class="btn btn-primary btn-block btn-tarjeta" data-modal="modal-btn-2"
            onclick="$('#modal-btn-b').modal('show')">Bowl (Tazón)</button>
    </div>
    <div class="col-4">
        <button class="btn btn-primary btn-block btn-tarjeta" data-modal="modal-btn-2"
            onclick="$('#modal-btn-chb').modal('show')">Componentes Hidráulicos del Bowl</button>
    </div>
</div>
<div class="row componentes">
    <div class="col-4">
        <button class="btn btn-primary btn-block btn-tarjeta" data-modal="modal-btn-2"
            onclick="$('#modal-btn-ft').modal('show')">Faja de Transmisión</button>
    </div>
    <div class="col-4">
        <button class="btn btn-primary btn-block btn-tarjeta" data-modal="modal-btn-2"
            onclick="$('#modal-btn-vs').modal('show')">Válvula Solenoide</button>
    </div>
    <div class="col-4">
        <button class="btn btn-primary btn-block btn-tarjeta" data-modal="modal-btn-2"
            onclick="$('#modal-btn-rr').modal('show')">Disco de Gravedad</button>
    </div>
</div>
<div class="modal fade" id="modal-btn-bc" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">
                    Bomba Centrípeta
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row tab-height">
                    <div class="col-4">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                            aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
                                role="tab" aria-controls="v-pills-home" aria-selected="true">Bomba Centrípeta</a>
                            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"
                                role="tab" aria-controls="v-pills-profile" aria-selected="false">Detector de Fluido
                                Descargado</a>
                        </div>
                    </div>
                    <div class="col-8 modal-lg-height">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                                aria-labelledby="v-pills-home-tab">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <p style="text-align: justify;">Los canales que se encuentran en el disco se
                                            llenan del combustible que esta en rotación junto con bowl(tazón que cubre
                                            la bomba centrípeta).</p>
                                        <p style="text-align: justify;">Descarga el combustible purificado bajo una
                                            presión aproximada de 2 MPa.</p>
                                        <p style="text-align: justify;">El liquido purificado es descargado por la bomba
                                            centrípeta, a través de los canales desde la parte exterior hacia la
                                            interior. Esto quiere decir que la energía cinética en una energía de
                                            presión que hace posible que el fluido sea descargado.</p>
                                            <img src="../media/imagenes/concepto/componentes/bomba_centripeta/boomba centripeta 2.png" alt="" class="text-center">
                                    </div>
                                    
                                </div>

                            </div>
                            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                                aria-labelledby="v-pills-profile-tab">
                                <div class="row">
                                    <div class="col-12">
                                        <p style="text-align: justify;">Su operación es de la misma manera que la bomba
                                            centrípeta.</p>
                                        <p style="text-align: justify;">Su función es transmitir el estado del
                                            combustible detectado hacia el sistema de monitero.</p>
                                            <img src="../media/imagenes/concepto/componentes/bomba_centripeta/DETECTOR DE FLUIDO DESCARGADO.png" alt="">
                                    </div>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-btn-b" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">
                    Bowl (Tazón)
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row tab-height">
                    <div class="col-4">
                        <div class="nav flex-column nav-pills" id="v-pills-3-tab" role="tablist"
                            aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-3-home-tab" data-toggle="pill" href="#v-pills-3-home"
                                role="tab" aria-controls="v-pills-3-home" aria-selected="true">Bowl </a>
                            <a class="nav-link" id="v-pills-3-profile-tab" data-toggle="pill" href="#v-pills-3-profile"
                                role="tab" aria-controls="v-pills-3-profile" aria-selected="false">Discos Empilados
                            </a>
                            <a class="nav-link" id="v-pills-3-messages-tab" data-toggle="pill"
                                href="#v-pills-3-messages" role="tab" aria-controls="v-pills-3-messages"
                                aria-selected="false">Espacio de Recojo de Partículas Solidas </a>
                            <a class="nav-link" id="v-pills-3-settings-tab" data-toggle="pill"
                                href="#v-pills-3-settings" role="tab" aria-controls="v-pills-3-settings"
                                aria-selected="false">Base de Distribución </a>
                        </div>
                    </div>
                    <div class="col-8 modal-lg-height">
                        <div class="tab-content" id="v-pills-3-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-3-home" role="tabpanel"
                                aria-labelledby="v-pills-3-home-tab">
                                <div class="row">
                                    <div class="col-7">
                                        <p style="text-align: justify;">Genera una alta fuerza centrifuga gracias a la
                                            rotación generada gracias a que la base se encuentra sobre un eje que esta
                                            conectado mediante una faja de transmisión a un motor eléctrico, este
                                            movimiento giratorio hace que sea posible la separación o purificación del
                                            combustible
                                        </p>
                                    </div>
                                    <div class="col-5">
                                        <img src="../media/imagenes/concepto/componentes/bowl/BOWL.png" alt="" style="width: 100%;">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-3-profile" role="tabpanel"
                                aria-labelledby="v-pills-3-profile-tab">
                                <div class="row">
                                    <div class="col-7">
                                        <ul style="text-align: justify;margin-left: -20px;">
                                            <li>Son un grupo de discos agrupados de manera vertical.
                                            </li>
                                            <li>Separa las partes pesadas y livianas que se encuentran mezcladas dentro
                                                del combustible.
                                            </li>
                                            <li>Cada disco cuenta con espaciadores que permite tener entre discos un
                                                espacio para el paso del combustible.
                                            </li>
                                            <li>La superficie lisa que presentan los discos facilita el deslizo del
                                                combustible, lo que ayuda a que los discos se mantengan limpios por si
                                                mismo.
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-5">
                                        <img src="../media/imagenes/concepto/componentes/bowl/DISCOS EMPILADOS 1.png" alt=""
                                            style="width: 100%;margin-bottom: 20px;">
                                        <img src="../media/imagenes/concepto/componentes/bowl/DISCOS EMPILADOS 2.png" alt="" style="width: 100%;">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-3-messages" role="tabpanel"
                                aria-labelledby="v-pills-3-messages-tab">
                                <div class="row">
                                    <div class="col-12">
                                        <p style="text-align: justify;">Es un espacio en el cual se colectan los
                                            residuos solidos y/o desechos que gracias a la fuerza centrifuga son
                                            separados del combustible y son almacenados en ese espacio para
                                            posteriormente ser desechados.</p>
                                            <video id="video" width="100%" height="250" controls><source src="../media/imagenes/concepto/componentes/bowl/ESPACIO DE RECOJO DE PARTICULAS SOLIDAS.mp4" type="video/mp4"></video>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-3-settings" role="tabpanel"
                                aria-labelledby="v-pills-3-settings-tab">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <p style="text-align: justify;">Acelera el ingreso del combustible hasta la
                                            velocidad rotacional del bowl para luego poder dirigirse hacia los discos
                                            empilados
                                        </p>
                                        <img src="../media/imagenes/concepto/componentes/bowl/BASE DE DISTRIBUCION.png" width="300" alt="" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-btn-chb" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">
                    Componentes Hidráulicos del Bowl
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row tab-height">
                    <div class="col-4">
                        <div class="nav flex-column nav-pills" id="v-pills-4-tab" role="tablist"
                            aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-4-home-tab" data-toggle="pill" href="#v-pills-4-home"
                                role="tab" aria-controls="v-pills-4-home" aria-selected="true">Pistón de deslizamiento
                            </a>
                            <a class="nav-link" id="v-pills-4-profile-tab" data-toggle="pill" href="#v-pills-4-profile"
                                role="tab" aria-controls="v-pills-4-profile" aria-selected="false">Liquido de
                                operación(agua)
                            </a>
                            <a class="nav-link" id="v-pills-4-messages-tab" data-toggle="pill"
                                href="#v-pills-4-messages" role="tab" aria-controls="v-pills-4-messages"
                                aria-selected="false">Pistón anular
                            </a>
                        </div>
                    </div>
                    <div class="col-8 modal-lg-height">
                        <div class="tab-content" id="v-pills-4-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-4-home" role="tabpanel"
                                aria-labelledby="v-pills-4-home-tab">
                                <div class="row">
                                    <div class="col-12">
                                        <ul style="text-align: justify;margin-left: -20px;"">
                                            <li>Esta ubicado en la parte baja del bowl(tazon).
                                            </li>
                                            <li>Gira a la misma velocidad angular que las otras partes que se encuentran
                                                dentro del bowltazon ().
                                            </li>
                                            <li>Su movimiento es de manera vertical.
                                            </li>
                                        </ul>
                                        <video id="video" width="100%" height="250" controls><source src="../media/imagenes/concepto/componentes/componentes_bowl/PISTON DE DESLIZANMIENTO.mp4"></video>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-4-profile" role="tabpanel"
                                aria-labelledby="v-pills-4-profile-tab">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <ul style="text-align: justify;margin-left: -20px;">
                                            <li>Dentro del bowl. El agua que ingresa a esta genera una gran presión
                                                centrigufa.
                                            </li>
                                            <li>La presión centrigufa generada hace que el piston anular y el piston de
                                                deslizamiento puedan actuar para poder abrir y cerrar el bowl(tazon).
                                            </li>
                                        </ul>
                                        <video id="video" width="" height="230" controls><source src="../media/imagenes/concepto/componentes/componentes_bowl/LIQUIDO DE OPERACION.mp4"></video>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-4-messages" role="tabpanel"
                                aria-labelledby="v-pills-4-messages-tab">
                                <div class="row">
                                    <div class="col-7">
                                        <ul style="text-align: justify;margin-left: -20px;">
                                            <li>Esta ubicado en la parte baja del bowl(tazón).
                                            </li>
                                            <li>Gira a la misma velocidad angular que las otras partes que se encuentran
                                                dentro del bowl(tazón).
                                            </li>
                                            <li>Su movimiento es de manera vertical.</li>
                                        </ul>
                                        </ul>
                                    </div>
                                    <div class="col-5">
                                        <img src="../media/imagenes/concepto/componentes/componentes_bowl/PISTON ANULAR.png" alt="" style="width: 100%;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-btn-ft" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">
                    Faja de Transmisión
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row tab-height">
                    <div class="col-4">
                        <div class="nav flex-column nav-pills" id="v-pills-5-tab" role="tablist"
                            aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-5-home-tab" data-toggle="pill" href="#v-pills-5-home"
                                role="tab" aria-controls="v-pills-5-home" aria-selected="true">Motor de Transmisión</a>
                            <a class="nav-link" id="v-pills-5-profile-tab" data-toggle="pill" href="#v-pills-5-profile"
                                role="tab" aria-controls="v-pills-5-profile" aria-selected="false">Centrifugal
                                Clutch</a>
                            <a class="nav-link" id="v-pills-5-messages-tab" data-toggle="pill"
                                href="#v-pills-5-messages" role="tab" aria-controls="v-pills-5-messages"
                                aria-selected="false">Faja de Transmisión</a>
                            <a class="nav-link" id="v-pills-5-settings-tab" data-toggle="pill"
                                href="#v-pills-5-settings" role="tab" aria-controls="v-pills-5-settings"
                                aria-selected="false">Bowl Spindle</a>
                        </div>
                    </div>
                    <div class="col-8 modal-lg-height">
                        <div class="tab-content" id="v-pills-5-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-5-home" role="tabpanel"
                                aria-labelledby="v-pills-5-home-tab">
                                <div class="row"  style="text-align: justify;">
                                    <div class="col-7">
                                        <p>Motor eléctrico que transmite energía de rotacion al eje al cual esta
                                            conectado el tazon y este a la vez esta conectado al motor a traves de un
                                            clutch y una faja de transmision
                                        </p>
                                        
                                    </div>
                                    <div class="col-5">
                                        <video id="video" width="100%" height="300" controls autoplay loop><source src="../media/imagenes/concepto/componentes/transmision/GIFT MOTOR DE TRANSMISION.mp4"></video>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-5-profile" role="tabpanel"
                                aria-labelledby="v-pills-5-profile-tab">
                                <div class="row"  style="text-align: justify;">
                                    <div class="col-12">
                                        <p>El clutch segura la trasmision de energía entre el motor eléctrico, la faja
                                            de transmisión y el eje al que esta conectado el bowl; para que el bowl
                                            pueda acelerar de manera gradual hasta que eje y el bowl alcancen la
                                            velocidad requerida.
                                        </p>
                                        <video id="video" width="100%" height="250" controls><source src="../media/imagenes/concepto/componentes/transmision/VIDEO DE CLUTCH TRANSMISION.mp4"></video>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-5-messages" role="tabpanel"
                                aria-labelledby="v-pills-5-messages-tab">
                                <div class="row">
                                    <div class="col-12"  style="text-align: justify;">
                                        <p>La faja de transmisión se encarga de llevar la energía de transmisión desde
                                            el motor hacia el eje que esta conectado al bowl.
                                            El eje mencionado anteriormente también sirve como soporte del bowl.
                                        </p>
                                        <video id="video" width="100%" height="250" controls autoplay loop><source src="../media/imagenes/concepto/componentes/transmision/GIFT FAJA DE TRANSMISION.mp4"></video>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-5-settings" role="tabpanel"
                                aria-labelledby="v-pills-5-settings-tab">
                                <div class="row">
                                    <div class="col-12  text-center" >
                                        <p style="text-align: justify;">Su función es servir de sorporte al bowl
                                        </p>
                                        <video id="video" width="300px" height="300" controls autoplay loop><source src="../media/imagenes/concepto/componentes/transmision/VIDEO DE BOWL SPINDLE.mp4"></video>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-btn-vs" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">
                    Válvula Solenoide
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <p style="text-align: justify;">
                            La válvula solenoide esta compuesto por 2 válvulas solenoides que permite la entrada y
                            salida de agua del sistema de purificacion(operación, llenado y descarga).</p>
                        <p>Tambien esta compuesto por una anulador manual para realizar pruebas.</p>
                        <video id="video" width="100%" height="230" controls ><source src="../media/imagenes/concepto/componentes/valvula_selenoide/VALVULA SOLENOIDE.mp4"></video>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-btn-rr" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">
                    Disco de Gravedad
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row modal-lg-height">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <p style="text-align: justify;">
                            La separación perfecta de una mixtura de liquidos se da solo cuando el bowl ah sido adapto
                            muy bien a la a la diferencia de densidades entre el combustible y el gua.

                        </p>
                        <video id="video" width="100%" height="250" controls ><source src="../media/imagenes/concepto/componentes/disco_gravedad/DISCO DE GRAVEDAD.mp4"></video>
                        <p style="text-align: justify;">
                            Para lograr esta adaptación del bowl a la diferencia de densidades, dentro de la
                            maquinaria(purificador) se encuentra un anillo regulador, la cual se colocara dependiendo a
                            la densidad del fluido a purificar, y según esa densidad el diámetro interior del anillo
                            variara según el diseño de fabrica.

                        </p>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>