<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <button class="btn btn-primary">
            La bomba hace que el fluido gire alrededor de su eje
        </button>
    </div>
    <div class="col-4"></div>
</div>
<div class="row">
    <div class="col-4">
        <button class="btn btn-primary">La fuerza centrípeta es dada por una bomba centrípeta que actúa sobre el fluido a purificar</button>
    </div>
    <div class="col-4">
        <img src="../media/imagenes/concepto/purificador/FUERZA CENTRIPETA.png" alt="" style="width: 100%;">
    </div>
    <div class="col-4">
        <button class="btn btn-primary">El movimiento giratorio crea una fuerza de reacción que hace que el fluido valla hacia el centro de la circunferencia creada por la misma</button>
    </div>
</div>