<div class="row">
    <div class="col-2"></div>
    <div class="col-8 text-center">
       <p style="text-align: justify;">El sello de agua dentro de un purificador se da gracias al agua suministrada por la misma maquinaria para poder limpiar o purificar el combustible o el fluido, este hace que los lodos que se puedan encontrar dentro del combustible sean atrapadas por este sello para que al momento de eyección de el agua estos lodos se descarguen juntos.</p>
       <img src="../media/imagenes/concepto.jpg" alt="" style="width: 100%;">
    </div>
    <div class="col-2"></div>
</div>