<div class="row">
    <div class="col-2"></div>
    <div class="col-8" style="text-align: justify;">
        La diferencia de densidades se da entre 2 o mas cuerpos dependiendo de la masa y volumen con la que cuenten estos antes mencionados, un cuerpo ya sea en estado liquido solido o gaseoso con mayor masa y menor volumen contara con una mayor densidad que un cuerpo que muestre como características una menor masa y un mayor volumen.
    </div>
    <div class="col-2"></div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8 text-center">
       <button class="btn btn-warning btn-lg" style="color: #ffffff;margin-bottom: 20px;">EJEMPLO</button>
       <p style="text-align: justify;">Por ejemplo, en la imagen se ve que dos cuerpos(madera y acero) que cuentan con el mismo volumen son puestos en recipientes con agua pero a pesar de que tienen la misma cantidad de volumen, se observa que el acero se hunde debido a que cuenta con una mayor cantidad de masa, la cual indica que el objeto de madera cuenta con una menor densidad y el objeto de acero tiene una mayor densidad</p>
       <img src="../media/imagenes/concepto.jpg" alt="" style="width: 100%;">
    </div>
    <div class="col-2"></div>
</div>