<div class="row">
    <div class="col-2"></div>
    <div class="col-8 text-center">
       <p style="text-align: justify;">La densidad la podemos es la propiedad que tiene la materia, ya sean sólidos, líquidos o gases, para comprimirse en un espacio determinado y se obtiene haciendo la división de su masa entre el volumen que ocupa; Pero esta densidad puede variar en función de la materia de la que está formado el cuerpo, excepto los sólidos</p>
       <img src="../media/imagenes/concepto.jpg" alt="" style="width: 100%;">
    </div>
    <div class="col-2"></div>
</div>