<div class="row">
    <div class="col-2"></div>
    <div class="col-8 text-center">
       <p style="text-align: justify;">La diferencia de densidades dentro de un purificador se dará entre el agua, el combustible y partículas de lodo que se pueden encontrar dentro del combustible a purificar, esto hace que la  fuerza centrípeta en conjunto con la diferencia de densidades de los fluidos pueda realizar un efectivo proceso de purificación del combustible.</p>
       <img src="../media/imagenes/concepto.jpg" alt="" style="width: 100%;">
    </div>
    <div class="col-2"></div>
</div>