<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <button class="btn btn-primary">Descarga el combustible purificado bajo una presión aproximada de 2 MPa.
        </button>
    </div>
    <div class="col-4"></div>
</div>
<div class="row">
    <div class="col-4">
        <button class="btn btn-primary">Los canales que se encuentran en el disco se llenan del combustible que esta en rotación junto con bowl(tazón que cubre la bomba centrípeta).
        </button>
    </div>
    <div class="col-4">
        <img src="../media/imagenes/concepto.jpg" alt="" style="width: 100%;">
    </div>
    <div class="col-4">
        <button class="btn btn-primary">El liquido purificado es descargado por la bomba centrípeta, a través de los canales desde la parte exterior hacia la interior. Esto quiere decir que la energía cinética en una energía de presión que hace posible que el fluido sea descargado.
        </button>
    </div>
</div>