
<div class="row">
    <div class="col-4">
        <button class="btn btn-primary">Su operación es de la misma manera que la bomba centrípeta.
        </button>
    </div>
    <div class="col-4">
        <img src="../media/imagenes/concepto.jpg" alt="" style="width: 100%;">
    </div>
    <div class="col-4">
        <button class="btn btn-primary">Su función es transmitir el estado del combustible detectado hacia el sistema de monitero.
        </button>
    </div>
</div>