<div class="row">
    <div class="col-12">
        Antes de realizar algún tipo de mantenimiento usar siempre equipo de seguridad
    </div>
</div>
<div class="row row-3">
    <div class="col-12">
        <div class="card content-card">
            <img src="../media/imagenes/mantenimiento/precauciones_seguridad/Imagen1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Overall</h5>
            </div>
        </div>
        <div class="card content-card">
            <img src="../media/imagenes/mantenimiento/precauciones_seguridad/Imagen2.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Guantes térmicos</h5>
            </div>
        </div>
        <div class="card content-card">
            <img src="../media/imagenes/mantenimiento/precauciones_seguridad/Imagen3.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Botas de seguridad</h5>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card content-card">
            <img src="../media/imagenes/mantenimiento/precauciones_seguridad/Imagen4.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Protector De oido</h5>
            </div>
        </div>
        <div class="card content-card">
            <img src="../media/imagenes/mantenimiento/precauciones_seguridad/Imagen5.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gafas protectoras</h5>
            </div>
        </div>
    </div>
</div>
<div class="row seg-options">
    <button class="btn btn-success btn-1 disabled">Para garantizar el correcto funcionamiento y la seguridad
        operativa</button>
    <img src="../../src/media/imagenes/flecha_roja.png" class="flecha_roja_abajo fra-1">
    <button class="btn btn-danger btn-2" data-modal="modal-btn-2" onclick="$('#modal-btn-2').modal('show')">En caso de
        apagado no rutinario</button>
    <img src="../../src/media/imagenes/flecha_roja.png" class="flecha_roja_abajo fra-2">
    <button class="btn btn-primary btn-3 disabled">Antes de cada ensamblaje engrasar los componentes principales del
        BOWL</button>
    <img src="../../src/media/imagenes/flecha_roja.png" class="flecha_roja_abajo fra-3">
    <button class="btn btn-danger btn-4" data-modal="modal-btn-2" onclick="$('#modal-btn-4').modal('show')">Prestar
        siempre atención a los siguientes puntos</button>
</div>
<div class="modal fade" id="modal-btn-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">En caso de apagado no rutinario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <img src="../../src/media/imagenes/equipo-prot/overall.png" alt="">
                    </div>
                    <div class="col-6">
                        En caso de apagado no rutinario
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-btn-4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Prestar siempre atención a los siguientes puntos
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 bloque-botones">
                        <button class="btn btn-success" style="margin-top: 150px;">Mangueras y Tuberías</button>
                        <button class="btn btn-success" style="margin-left: -60px;margin-top: -30px;">Juntas de las tuberías</button>
                        <button class="btn btn-success" style="margin-top: -120px;margin-left: 40px;margin-right: 40px;">Nivel de aceite</button>
                        <button class="btn btn-success" style="margin-top: -30px;">Temperaturas</button>

                        <button class="btn btn-danger" style="margin-top: -63px;">Prestar siempre atención a los siguientes puntos</button>

                        <button class="btn btn-success" style="margin-left: 95px;margin-top: 10px;margin-right: 40px;">Tiempo de arranque</button>
                        <button class="btn btn-success" style="margin-top: 63px;">Consumo de corriente</button>
                        <button class="btn btn-success" style="margin-bottom: -10px;margin-left: 40px;">Derrames</button>
                        <button class="btn btn-success" style="margin-top: -340px;margin-left: 580px;">Presiones</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>