<div class="row">
    <div class="col-6">
        <p style="text-align: justify;">Genera una alta fuerza centrifuga gracias a la rotación generada gracias a que la base se encuentra sobre un eje que esta conectado mediante una faja de transmisión a un motor eléctrico, este movimiento giratorio hace que sea posible la separación o purificación del combustible
        </p>
    </div>
    <div class="col-6">
        <img src="../media/imagenes/concepto.jpg" alt="" style="width: 100%;">
    </div>
</div>