<div class="row">
    <div class="col-6">
        <ul style="text-align: justify;">
            <li>Son un grupo de discos agrupados de manera vertical.
            </li>
            <li>Separa las partes pesadas y livianas que se encuentran mezcladas dentro del combustible.
            </li>
            <li>Cada disco cuenta con espaciadores que permite tener entre discos un espacio para el paso del combustible.
            </li>
            <li>La superficie lisa que presentan los discos facilita el deslizo del combustible, lo que ayuda a que los discos se mantengan limpios por si mismo.
            </li>
        </ul>
    </div>
    <div class="col-6">
        <img src="../media/imagenes/concepto.jpg" alt="" style="width: 100%;margin-bottom: 20px;">
        <img src="../media/imagenes/concepto.jpg" alt="" style="width: 100%;">
    </div>
</div>