<div class="row">
    <div class="col-6">
        <p style="text-align: justify;">Es un espacio en el cual se colectan los residuos solidos y/o desechos que gracias a la fuerza centrifuga son separados del combustible y son almacenados en ese espacio para posteriormente ser desechados.</p>
    </div>
    <div class="col-6">
        <img src="../media/imagenes/concepto.jpg" alt="" style="width: 100%;">
    </div>
</div>