<div class="row">
    <div class="col-6">
        <p style="text-align: justify;">Acelera el ingreso del combustible hasta la velocidad rotacional del bowl para luego poder dirigirse hacia los discos empilados
        </p>
    </div>
    <div class="col-6">
        <img src="../media/imagenes/concepto.jpg" alt="" style="width: 100%;">
    </div>
</div>