<div class="row">
    <div class="col-6">
        <ul style="text-align: justify;">
            <li>Esta ubicado en la parte baja del bowl(tazon).
            </li>
            <li>Gira a la misma velocidad angular que las otras partes que se encuentran dentro del bowltazon ().
            </li>
            <li>Su movimiento es de manera vertical.
            </li>
        </ul>
    </div>
    <div class="col-6">
        <img src="../media/imagenes/concepto.jpg" alt="" style="width: 100%;">
    </div>
</div>