<div class="row">
    <div class="col-6">
        <ul style="text-align: justify;">
            <li>Dentro del bowl. El agua que ingresa a esta genera una gran presión centrigufa.
            </li>
            <li>La presión centrigufa generada hace que el piston anular y el piston de deslizamiento puedan actuar para poder abrir y cerrar el bowl(tazon).
            </li>
        </ul>
    </div>
    <div class="col-6">
        <img src="../media/imagenes/concepto.jpg" alt="" style="width: 100%;">
    </div>
</div>