<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-success"
            style="width: 220px;font-weight: bold;font-size: 25px;padding: 10px;">SCHEDULE</button>
    </div>
</div>
<div class="row">
    <div class="col-6 text-center">
        <img src="../../src/media/imagenes/flecha_roja.png" class="flecha_roja_abajo fra-1" style="
    margin-top: 20px;
    margin-bottom: 20px;
">
    </div>
    <div class="col-6 text-center" style="
    margin-top: 20px;
    margin-bottom: 20px;
">
        <img src="../../src/media/imagenes/flecha_roja.png" class="flecha_roja_abajo fra-1">
    </div>
</div>
<div class="row">
    <div class="col-6 text-center">
        <p style="
    color: #ffffff;
    font-weight: bold;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
">Los siguientes intervalos de mantenimiento son recomendaciones que se aplican solo a condiciones normales de
            funcionamiento</p>
    </div>
    <div class="col-6 text-center">
        <p style="
    color: #ffffff;
    font-weight: bold;
    /* width: 300px; */
    /* margin-left: auto; */
    /* margin-right: auto; */
">Las condiciones de funcionamiento negativas (por ejemplo, combustible de baja calidad, temperatura excesivamente
            alta, vibraciones fuertes, arranque y parada frecuentes del separador, etc.) pueden requerir intervalos de
            mantenimiento más cortos</p>
    </div>
</div>
<div class="row">
    <div class="col-6 text-center">
        <button class="btn btn-success" data-cap="15" style="
    width: 220px;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
" data-modal="modal-btn-1" onclick="$('#modal-btn-1').modal('show')">Schedule A</button>
    </div>
    <div class="col-6 text-center">
        <button class="btn btn-success" data-cap="16" style="
    width: 220px;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
" data-modal="modal-btn-2" onclick="$('#modal-btn-2').modal('show')">Schedule B</button>
    </div>
</div>

<div class="modal fade" id="modal-btn-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">
                    Schedule A
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 text-center">
                        <ul style="
                    text-align: left;
                    margin-bottom: 0px;
                ">
                            <li>Después de 8000 horas de trabajo</li>
                            <li>Después de 24,000 horas de trabajo</li>
                            <li>Después de 40,000 horas de trabajo</li>
                        </ul>
                        <p style="
                    font-size: 30px;
                    font-weight: bold;
                    margin-bottom: 0px;
                ">O</p>
                        <ul style="
                    text-align: left;
                ">
                            <li>Después de 8000 horas de trabajo</li>
                            <li>Después de 24,000 horas de trabajo</li>
                            <li>Después de 40,000 horas de trabajo</li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <img src="../media/imagenes/mantenimiento/schedule/Imagen7.jpg" alt="" style="
                    width: 100%;
                ">
                    </div>
                </div>
                <div class="row">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td class="table-success">Inspección del BOWL</td>
                                <td class="table-light">
                                    <ul>
                                        <li>Desmantelar el BOWL y CENTRIPETAL PUMP, limpiar sus partes y verificar si
                                            contienen corrosión o erosión.</li>
                                        <li>Limpiar los hoyos, boquillas y cámaras del sistema hidráulico.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-success">Remplazar GASKETS y PISTON GUIDE RING
                                </td>
                                <td class="table-light">
                                    <ul>
                                        <li>Cambiar el POLYAMIDE GASKET
                                            solo si esta dañado
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-success">Limpiar dentro de la sección alta del FRAME
                                </td>
                                <td class="table-light">
                                    <ul>
                                        <li>Remover el BOWL
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-success">Remplazar GASKETS, DRIVE BELT y BEARINGS
                                </td>
                                <td class="table-light">
                                    <ul>
                                        <li>Verificar desmantelamiento del BOWL
                                        </li>
                                        <li>Verificar desmantelamiento del DRIVE
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-success">Verificar CENTRIFUGAL CLUTCH y remplazar si es necesario
                                </td>
                                <td class="table-light">
                                    <ul>
                                        <li>Verificar desmantelamiento del DRIVE
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-success">Verificar el MOTOR
                                </td>
                                <td class="table-light">
                                    <ul>
                                        <li>Re lubricar los BEARINGS si es necesario
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-success">Cambiar el aceite del DRIVE CHAMBER
                                </td>
                                <td class="table-light">
                                    <ul>
                                        <li>Usando mineral o synthetic oil (dependerá del manual de fabricante)
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-success">Verificar BOWL HEIGHT
                                </td>
                                <td class="table-light">
                                    <ul>
                                        <li>Verificar en HEIGHT ADJUSTMENT
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-success">Verificar STARTING TIME
                                </td>
                                <td class="table-light">
                                    <ul>
                                        <li>Verificar en el panel de control
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-success">Limpiar el filtro y tubería del OPERATING LIQUID FEED SYSTEM
                                </td>
                                <td class="table-light">
                                    <ul>
                                        <li>Limpiar con un cepillo sacando cualquier materia que obstruya
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-success">Verificar el NON RETURN VALVE
                                </td>
                                <td class="table-light">
                                    <ul>
                                        <li>Limpiar los hoyos de la válvula y rociar con agua
                                        </li>
                                        <li>Verificar su correcto funcionamiento
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-success">Verificar WATER DETECTOR
                                </td>
                                <td class="table-light">
                                    <ul>
                                        <li>Limpiarlo cuidadosamente con un trapo suave o con Diesel si es necesario
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-success">Verificar SIGHT GLASS
                                </td>
                                <td class="table-light">
                                    <ul>
                                        <li>Limpiarlo cuidadosamente con un trapo suave o con Diesel si es necesario
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-success">Verificar las mangueras y tuberías
                                </td>
                                <td class="table-light">
                                    <ul>
                                        <li>Remplazar si es necesario.
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-btn-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">
                    Schedule B
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 text-center">
                        <ul style="
                    text-align: left;
                    margin-bottom: 0px;
                ">
                            <li>Después de 4000 horas de trabajo
                            </li>
                            <li>Después de 12,000 horas de trabajo
                            </li>
                            <li>Después de 20,000 horas de trabajo
                            </li>
                            <li>Después de 28,000 horas de trabajo
                            </li>
                            <li>Después de 36,000 horas de trabajo
                            </li>
                            <li>Después de 48,000 horas de trabajo
                            </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <img src="../media/imagenes/mantenimiento/schedule/Imagen7.jpg" alt="" style="
                    width: 100%;margin-bottom: 20px;
                ">
                    </div>
                </div>
                <div class="row">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td class="table-success">Inspección del BOWL</td>
                                <td class="table-light">
                                    <ul>
                                        <li>Desmantelar el BOWL y CENTRIPETAL PUMP, limpiar sus partes y verificar si
                                            contienen corrosión o erosión.</li>
                                        <li>Limpiar los hoyos, boquillas y cámaras del sistema hidráulico.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-success">Remplazar GASKETS y PISTON GUIDE RING
                                </td>
                                <td class="table-light">
                                    <ul>
                                        <li>Cambiar el POLYAMIDE GASKET
                                            solo si esta dañado
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-success">Cambiar el aceite del DRIVE CHAMBER
                                </td>
                                <td class="table-light">
                                    <ul>
                                        <li>Usando mineral o synthetic oil (dependerá del manual de fabricante)
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-success">Limpiar el filtro y tubería del OPERATING LIQUID FEED SYSTEM
                                </td>
                                <td class="table-light">
                                    <ul>
                                        <li>Limpiar con un cepillo sacando cualquier materia que obstruya
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-success">Verificar el NON RETURN VALVE
                                </td>
                                <td class="table-light">
                                    <ul>
                                        <li>Limpiar los hoyos de la válvula y rociar con agua
                                        </li>
                                        <li>Verificar su correcto funcionamiento
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-success">Verificar el MOTOR
                                </td>
                                <td class="table-light">
                                    <ul>
                                        <li>Re lubricar los BEARINGS si es necesario
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-success">Verificar WATER DETECTOR
                                </td>
                                <td class="table-light">
                                    <ul>
                                        <li>Limpiarlo cuidadosamente con un trapo suave o con Diesel si es necesario
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-success">Verificar SIGHT GLASS
                                </td>
                                <td class="table-light">
                                    <ul>
                                        <li>Limpiarlo cuidadosamente con un trapo suave o con Diesel si es necesario
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-success">Verificar las mangueras y tuberías
                                </td>
                                <td class="table-light">
                                    <ul>
                                        <li>Remplazar si es necesario
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>