<div class="row text-center">
    <div class="col-2"></div>
    <div class="col-4">
        <button class="btn btn-primary btn-block btn-tarjeta" data-modal="modal-btn-2"
            onclick="$('#modal-btn-sep').modal('show')">Datos sobre Separación</button>
    </div>
    <div class="col-4">
        <button class="btn btn-primary btn-block btn-tarjeta" data-modal="modal-btn-2"
            onclick="$('#modal-btn-bowl').modal('show')">Expulsión del Bowl</button>
    </div>
    <div class="col-2"></div>
</div>

<div class="modal fade" id="modal-btn-sep" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">
                    Datos Sobre Separación
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <ul>
                            <li>Un separador es usado para la clarificación y separación de combustible o aceite en los buques o diferentes plantas de tratamiento.</li>
                            <li>El mejor efecto de separación es obtenido con una baja viscosidad del producto que será separado.</li>
                            <li>El separador opera económicamente con las temperaturas de separación y las practicas que emplean los operarios basándonos en los manuales de las diferentes marcas.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-btn-bowl" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">
                    Expulsión del Bowl
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <ul>
                            <li>La expulsión del bowl es dada de manera automática a máxima velocidad durante la secuencia programada.</li>
                            <li>La expulsión del bowl esta determinada por una preconfiguración de tiempo de separación o por el nivel de solidos dentro del bowl.</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="row tab-height" style="height: 250px;">
                    <div class="col-4">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                            aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
                                role="tab" aria-controls="v-pills-home" aria-selected="true">Secuencia de Separación</a>
                            <a class="nav-link" id="v-pills-2-home-tab" data-toggle="pill" href="#v-pills-2-home"
                                role="tab" aria-controls="v-pills-2-home" aria-selected="false">Desplazamiento</a>
                            <a class="nav-link" id="v-pills-3-home-tab" data-toggle="pill" href="#v-pills-3-home"
                                role="tab" aria-controls="v-pills-3-home" aria-selected="false">Expulsión de Enjuague</a>
                            <a class="nav-link" id="v-pills-4-home-tab" data-toggle="pill" href="#v-pills-4-home"
                                role="tab" aria-controls="v-pills-4-home" aria-selected="false">Control de Programa</a>
                        </div>
                    </div>
                    <div class="col-8 modal-lg-height">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                                aria-labelledby="v-pills-home-tab">
                                <ol>
                                    <li>Tiempo de separación transcurrido</li>
                                    <li>Válvula de alimentación cerrada.</li>
                                    <li>El desplazamiento del agua lleva el combustible hacia el lugar del combustible purificado.</li>
                                    <li>El agua de operación abre y cierra el bowl de manera hidráulica a máxima velocidad.</li>
                                    <li>Tiempo de espera para la recuperación de velocidad.</li>
                                    <li>Válvula de alimentación abierta.</li>
                                    <li>Se reanuda el tiempo de separación.</li>
                                </ol>
                            </div>
                            <div class="tab-pane fade" id="v-pills-2-home" role="tabpanel"
                                aria-labelledby="v-pills-2-home-tab">
                                <ul>
                                    <li>Durante la separación, la inevitable la perdida de liquido de alimentación durante la expulsión pude ser reducido a lo mas mínimo por el desplazamiento del liquido de alimentación antes de que los lodos tomen lugar durante la expulsión.</li>
                                    <li>La duración del suministro de agua de desplazamiento esta dado por un temporizador general.</li>
                                    <li>Si el desplazamiento es muy largo, el agua será descargada a través de una salida de liquidos suaves.</li>
                                    <li>Pero si el desplazamiento es muy corto, parte del producto final sobrante en el bowl será desechado durante la expulsión de lodos.</li>
                                    <li>Tiempo de espera para la recuperación de velocidad.</li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="v-pills-3-home" role="tabpanel"
                                aria-labelledby="v-pills-3-home-tab">
                                <ul>
                                    <li>Si los lodos no pueden ser completamente expulsados
                                        <ul>
                                            <li>Debido a un excesivo tiempo de permanencia dentro del bowl o</li>
                                            <li>Estan estancados  firmemente a las paredes del espacio colector de solidos debido a las propiedades de los lodos.</li>
                                        </ul>
                                    </li>
                                    <li>Tambien el tiempo de separación debe ser recortado o</li>
                                    <li>La expulsión del enjuague debe ser realizado después de una expulsión total llenando el bowl con agua  y vaciándolo nuevamente.</li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="v-pills-4-home" role="tabpanel"
                                aria-labelledby="v-pills-4-home-tab">
                                <ul>
                                    <li>Desplazamiento, expulsión y expulsión del enjuague en intervalos precisamente definidos son llevados de la mejor manera con una unidad de control automático.</li>
                                    <li>El combustible purificado y el agua descargada podrán ser monitoreados.</li>
                                    <li>Las fallas podrán ser señaladas visualmente o auditivamente.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>