<div class="row">
    <div class="col-12">
        <ul  style="text-align: justify;">
            <li>Asegurar que la luna de visualización de la faja de transmisión que esta en el marco de del separador
                este limpia.</li>
            <li>Asegurar que la luna de visualización del nivel de aceite lubricante que esta en el marco del separador
                este limpio.</li>
            <li>Asegurar que la cámara de expulsión este con aceite al nivel indicado por el manual.</li>
            <li>Asegurar que el bowl tenga la altura correcta.</li>
            <li>Asegurar que el bowl pueda girar con la mano.</li>
            <li>Asegurar que la maquinaria este correctamente ensamblada(medidas de ajuste dadas por el fabricante).
            </li>
            <li>verificar que la bomba centrípeta este asegurado con el anillo de seguridad.</li>
            <li>Verificar que el mango de conexion este ajustado a la bomba centripeta.</li>
            <li>Verificar que las líneas de combustible y de agua no esten dañadas y correctamente conectadas.</li>
            <li>Verificar que las líneas de descarga y alimentación esten conectadas.</li>
            <li>Verificar que el equipo de verificación este completo, y funcionando de manera manual y electrica.</li>
            <li>Verifica que la alimentación electrica este lista para la operación.</li>
            <li>Verificar que componentes como válvulas, reductor de presión de agua, etc, esten operativos.</li>

        </ul>
    </div>
</div>