<div class="row">
    <div class="col-12">
        <ul style="text-align: justify;">
            <li>Encender la unidad de control.</li>
            <li>Encender el motor del purificador.
                <ul>
                    <li>Revisar el amperaje al encender hasta que el bowl alcance la velocidad establecida por el
                        manual.</li>
                </ul>
            </li>
            <li>Encender la bomba de alimentación de combustible.
                <ul>
                    <li>Al encender la bomba de alimentación de combustible, se debe asegurar que la válvula de ingreso
                        que va hacia la succion de la bomba y la presión de la misma sean adecuadas.</li>
                </ul>
            </li>
            <li>Poner el precalentador en operación
                <ul>
                    <li>Las válvulas de ingreso y salida de vapor deben estar abiertas.</li>
                    <li>En caso de ser precalentador sea eléctrico, asegurarse que este encendido.</li>
                </ul>
            </li>
            <li>Las válvulas de descargan del combustible purificadon debe estar abierto.</li>
            <li>La válvula de descarga de lodos o desechos debe estar abierto.</li>
            <li>Iniciar el programa de purificación
                <ul>
                    <li>Se verá una luz parpadeando en el botón que indicará el estado del separador.</li>
                    <li>La temperatura de separación especificada debe ser alcanzada.</li>
                    <li>El tanque de sólidos debe ser vaciado, según</li>
                </ul>
            </li>
            <li>Después de que la válcula de alimentación automática se haya abierto
                <ul>
                    <li>Configurar la presión en la línea de descarga entre 1,5 a 2,5 bares.</li>
                    <li>Ajustar la capacidad de rendimiento deseado, mientras se haga esto se debe mantener la presión
                        en la línea de descarga.</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center">
        <a class="intermitencia" data-modal="modal-btn-2" onclick="$('#modal-btn-atencion').modal('show')"
            style="color: red;">
            <img src="../media/imagenes/alerta.png" alt="" style="width: 50px;">
            Atención
        </a>
    </div>
</div>
<div class="modal fade" id="modal-btn-atencion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle" style="color: red;">
                    ¡Atención!
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <ul>
                            <li>Revisar la rotación del Bowl
                                <ul>
                                    <li>El Bowl debe rotar en sentido horario cuando sea asegurado desde la parte de arriba.
                                        <ul>
                                            <li>Al encender el motor, se debe revisar la dirección en la cual debe ir en sentido horario.</li>
                                            <li>En caso la dirección de la faja sea en sentido antihorario, se debe llamar a un especialista para que sea revisado.</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>Revisar la dirección de rotación de la bomba de alimentación.
                                <ul>
                                    <li>La rotación de bomba es correcta cuando el ventilador del motor gira en sentido horario.</li>
                                </ul>
                            </li>
                            <li>Poner el precalentador en operación.
                                <ul>
                                    <li>Las válvulas de ingreso y salida de vapor deben estar abiertas.</li>
                                    <li>En caso de ser precalentador sea eléctrico, asegurarse que este encendido.</li>
                                </ul>
                            </li>
                            <li>Las válculas de descarga del combustible purificado debe estar abierto.</li>
                            <li>Revisar la descarga en busca de sólidos o agua sucia, no debe de haber fluidos de aceite durante el proceso de separación.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>