<div class="row">
    <div class="col-12">
        <p>Hay revisiones que se tiene que realizar de manera regular</p>
    </div>
</div>
<div class="row">
    <div class="col-4 text-center">
        <button class="btn btn-primary btn-block btn-tarjeta" data-modal="modal-btn-2" onclick="$('#modal-btn-1').modal('show')">
            Durante las ronda diarias, especialmente cuando la maquinaria tenga sus primeras 1500 horas de operacion
        </button>
    </div>
    <div class="col-4 text-center">
        <button class="btn btn-primary disabled2 btn-block btn-tarjeta">
            Mantener un cuadro de horas u horario de mantenimiento.
        </button>
    </div>
    <div class="col-4 text-center">
        <button class="btn btn-primary btn-block btn-tarjeta" data-modal="modal-btn-2" onclick="$('#modal-btn-2').modal('show')">
            Inpecciones
        </button>
    </div>
</div>
<div class="row" style="margin-top: 20px;">
    <div class="col-12 text-center">
        <a class="intermitencia" data-modal="modal-btn-2" onclick="$('#modal-btn-3').modal('show')"
            style="color: red;">
            <img src="../media/imagenes/alerta.png" alt="" style="width: 50px;">
            Importante
        </a>
    </div>
</div>

<div class="modal fade" id="modal-btn-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">
                    Durante las ronda diarias, especialmente cuando la maquinaria tenga sus primeras 1500 horas de
                    operacion
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <ul>
                            <li>Nivel de aceite</li>
                            <li>Temepratura</li>
                            <li>Presiones</li>
                            <li>Derrames</li>
                            <li>Vibraciones</li>
                            <li>Consumo de corriente o amperaje</li>
                            <li>Tiempo de incio</li>
                            <li>Madnegueras y tubería</li>
                            <li>Empaquetaduras y juntas.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-btn-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">
                    Inspección
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <p>Se recomienda que la maquinaria sea inspeccionada o revisada por el fabricante una vez al año, para garantizar la operación de la maquinaria y evitar un incumplimiento de un horario de mantenimiento.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-btn-3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle" style="color: red;">
                    Importante
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <ul>
                            <li>Revisar de manera regular las lineas de combustible de agua o aire, lunas de inspección o algún tipo de baño mecánico que pueda tener la máquina.</li>
                            <li>Los componentes dañados que sean hallados deben ser cambiados o reemplazados de manera immediata por componentes nuevos.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>