<div class="row">
    <div class="col-12">
        <p style="text-align: justify;">
            Cuando se usa un controlador dependiente de un programa automatico, la configuración del tiempo de
            separacion será solo posible si la capacidad de rendimiento y la carga de solidos sobre la alimentación son
            constantes. Si ese no es el caso, será necesario corregir la configuración mientras la maquinaria este
            oeprando.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-4">
        <button class="btn btn-primary btn-block btn-tarjeta" data-modal="modal-btn-2"
            onclick="$('#modal-btn-1').modal('show')">
            El tiempo de separación dependerá
        </button>
    </div>
    <div class="col-4">
        <button class="btn btn-primary btn-block btn-tarjeta" data-modal="modal-btn-2" onclick="$('#modal-btn-2').modal('show')">
            Si se dan las condiciones de manera constante, las separacion puede ser determinada por cálculos
        </button>
    </div>
    <div class="col-2"></div>
</div>

<div class="modal fade" id="modal-btn-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">
                    El tiempo de serapacion dependera
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <ul>
                            <li>La preseleccion del modo de operación(modo de expulsión total o parcial)</li>
                            <li>La carga de solidos en la alimantacion.</li>
                            <li>La consistencia de los solidos</li>
                            <li>El volumen de la cantidad de solidos dentro del bowl.</li>
                            <li>El rendimiento del separador</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-btn-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">
                    Cálculo matemático (Ejemplo)
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <ul>
                            <li>Datos:
                                <ul>
                                    <li>Contenido de sólidos: p=0.05%</li>
                                    <li>Volumen de sólidos en el espacio receptor: v=0.5 l</li>
                                    <li>Espacio receptor de sólidos da 75% de aislante:	v’=0.375 l</li>
                                    <li>Capacidad de rendimiento: v°=1000 l/h</li>
                                </ul>
                            </li>
                            <li>Lo que queremos hallar:
                                <ul>
                                    <li>Tiempo de separación: t=?</li>
                                </ul>
                            </li>
                        </ul>
                        <img src="../media/imagenes/operacion/config_tiempo_separacion/ejemplo_calculo_matematico.png" alt="" style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>