<div class="row">
    <div class="col-2"></div>
    <div class="col-4">
        <button class="btn btn-primary btn-block btn-tarjeta" data-modal="modal-btn-2"
            onclick="$('#modal-btn-1').modal('show')">
            Operación Automática</button>
    </div>
    <div class="col-4">
        <button class="btn btn-primary btn-block btn-tarjeta" data-modal="modal-btn-2"
            onclick="$('#modal-btn-2').modal('show')">
            Operación Manual</button>
    </div>
    <div class="col-2"></div>
</div>

<div class="modal fade" id="modal-btn-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">
                    Operación Automática
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <ul>
                            <li>Se inicia el programa de
                                expulsión presionando el botón de “iniciar proceso”
                                <ul>
                                    <li>Producto de alimentación se cierra.</li>
                                    <li>Desplazamiento.</li>
                                    <li>Expulsion del bowl.</li>
                                    <li>Recuperacion de velocidad.</li>
                                    <li>Llenado de agua.</li>
                                </ul>
                            </li>
                            <li>La válvula de salida del
                                producto se abre nuevamente</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-btn-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">
                    Operación Manual
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <ul>
                            <li>Esto se da en los casos que se de un apagado no rutinario.</li>
                            <li>En este tipo de casos se debe:</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <div class="row tab-height" style="height: 200px;">
                            <div class="col-6">
                                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                                    aria-orientation="vertical">
                                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
                                        role="tab" aria-controls="v-pills-home" aria-selected="true">1. Cerrar la línea de alimentación</a>
                                    <a class="nav-link" id="v-pills-2-home-tab" data-toggle="pill" href="#v-pills-2-home"
                                        role="tab" aria-controls="v-pills-2-home" aria-selected="false">2. Expulsar el bowl</a>
                                    <a class="nav-link" id="v-pills-3-home-tab" data-toggle="pill" href="#v-pills-3-home"
                                        role="tab" aria-controls="v-pills-3-home" aria-selected="false">3. Recuperación de la velocidad</a>
                                    <a class="nav-link" id="v-pills-4-home-tab" data-toggle="pill" href="#v-pills-4-home"
                                        role="tab" aria-controls="v-pills-4-home" aria-selected="false">4. Iniciar el proceso de operación nuevamente</a>
                                </div>
                            </div>
                            <div class="col-6 modal-lg-height">
                                <div class="tab-content" id="v-pills-tabContent">
                                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                                        aria-labelledby="v-pills-home-tab">
                                        <p>Cerrar la vávula de alimentación de manera manual.</p>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-2-home" role="tabpanel"
                                        aria-labelledby="v-pills-2-home-tab">
                                        <p>Abrir de manera manual la válvula de operación de agua al rededor de 2 a X segundo aproximadamente.</p>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-3-home" role="tabpanel"
                                        aria-labelledby="v-pills-3-home-tab">
                                        <p>Esperar por al menos 20 a 30 segundos.</p>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-4-home" role="tabpanel"
                                        aria-labelledby="v-pills-4-home-tab">
                                        <p>Abrir la valvula de alimentación de manera manual</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>
    </div>
</div>