<div class="row">
    <div class="col-4">
        <button class="btn btn-primary btn-block btn-tarjeta" data-modal="modal-btn-2" onclick="$('#modal-btn-1').modal('show')">Operación Automática</button>
    </div>
    <div class="col-4">
        <button class="btn btn-primary btn-block btn-tarjeta" data-modal="modal-btn-2" onclick="$('#modal-btn-2').modal('show')">Operación Manual</button>
    </div>
    <div class="col-4">
        <button class="btn btn-primary btn-block btn-tarjeta" data-modal="modal-btn-2" onclick="$('#modal-btn-3').modal('show')">Apagado de Emergencia</button>
    </div>
</div>

<div class="modal fade" id="modal-btn-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">
                    Operación Automática
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <ul>
                            <li>Finalizar el programa de separacion presionando el botos de "stop".</li>
                            <li>2 expulsiones seran realizadas de manera automatica.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade " id="modal-btn-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">
                    Operación Manual
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <ol>
                            <li>Apagar el precalentador
                                <ul>
                                    <li>Dejar que el líquido de alimentación siga circulando por algunos minutos para que el precalentador siga calentando por un corto periodo.</li>
                                </ul>
                            </li>
                            <li>Cerrar la línea de alimentación
                                <ul>
                                    <li>Cerrar la válvula de la línea de alimentación de forma manual.</li>
                                </ul>
                            </li>
                            <li>Desplazamiento
                                <ul><li>Abre la válvula de desplazamiento de agua usando el manual del fabricante.</li></ul>
                            </li>
                            <li>Expulsión de bowl
                                <ul><li>Abre la válvula de liquido de operación usando el manual de fabricante por aproximadamente 2 a 3 segundos.</li></ul>
                            </li>
                            <li>Recuperación de la velocidad
                                <ul><li>Esperar por aproximadamente 20 a 30 segundos.</li></ul>
                            </li>
                            <li>Apaga la bomba de alimentación de combustible.
                                <ul>
                                    <li>La bomba de alimentación continuara funcionando.</li>
                                    <li>La luz luz led indicara mediante un parpadeo el estado de la bomba.</li>
                                    <li>La válvula de control para que el vapor del precalentador cierre automáticamente.</li>
                                </ul>
                            </li>
                            <li>Cerrar la válvula de alimentación del lado de la succión de la bomba de de alimentación.</li>
                            <li>Apagar el motor del separador.</li>
                            <li>Cerrar las líneas de descarga.</li>
                            <li>Cerrar las líneas de suministro como calentador de vapor, agua, aire comprimido y válvulas manuales.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-btn-3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">
                    Apagado de Emergencia
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <ul>
                            <li>En una situación de emergencia(vibraciones o ruidos inusuales) o en caso de daño en el separador o en sus componentes, un rápido apagado manual del sistema debe ser llevado a cabo.</li>
                            <li>Dependiendo de la versión y del fabricante, el panel de control deber estar equipado con ciertos componentes.</li>
                        </ul>
                        <div class="row tab-height" style="height: 250px;">
                            <div class="col-4">
                                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                                    aria-orientation="vertical">
                                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
                                        role="tab" aria-controls="v-pills-home" aria-selected="true">1 Interruptor</a>
                                    <a class="nav-link" id="v-pills-2-home-tab" data-toggle="pill" href="#v-pills-2-home"
                                        role="tab" aria-controls="v-pills-2-home" aria-selected="false">2 Interruptores</a>
                                </div>
                            </div>
                            <div class="col-8 modal-lg-height">
                                <div class="tab-content" id="v-pills-tabContent">
                                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                                        aria-labelledby="v-pills-home-tab">
                                        <p>
                                            Un interruptor de color aramillo-rojo principal al cual este integrado la función de <strong>“APAGADO DE EMERGENCIA”</strong> y una conexión adicional para un interruptor de <strong>“APAGADO DE EMERGENCIA EXTERNO”</strong>
                                        </p>
                                        <div class="row">
                                            <div class="col 4">
                                                <img src="../media/imagenes/operacion/apagado_del_separador/1_interruptor.jpg" alt="" style="width: 100%;">
                                            </div>
                                            <div class="col-8">
                                                <ul>
                                                    <li>INTERRUPTOR PRINCIPAL DE COLOR AMARILLO-ROJO CON FUNCION INTEGRADA DE “APAGADO DE EMERGENCIA”
                                                        <ul>
                                                            <li>Quitar la corriente electica a toda la unidad de control.</li>
                                                            <li>La expulsión del bowl no se realiza.</li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-2-home" role="tabpanel"
                                        aria-labelledby="v-pills-2-home-tab">
                                        <p>
                                            Un interruptor de <strong>“APAGADO DE EMERGENCIA”</strong> de color amarillo-rojo, un interruptor principal verde-negro y una conexión adicional para un interruptor de <strong>“APAGADO DE EMERGENCIA EXTERNO”</strong>
                                        </p>
                                        <p>
                                            Un interruptor de <strong>“APAGADO DE EMERGENCIA”</strong> de color amarillo-rojo, un interruptor principal de color gris-negro y una conexión adicional, un camino aprobado para un <strong>“APAGADO DE EMERGENCIA”</strong> confiable para muchos interruptores de <strong>“APAGADO DE EMERGENCIA”</strong>
                                        </p>
                                        <div class="row">
                                            <div class="col 4">
                                                <img src="../media/imagenes/operacion/apagado_del_separador/2_interruptor.jpg" alt="" style="width: 100%;">
                                            </div>
                                            <div class="col-8">
                                                <ul>
                                                    <li>INTERRUPTOR DE “APAGADO DE EMERGENCIA” AMARILLO-ROJO Y EL INTERRUPTOR PRINCIPAL(GRIS Y NEGRO)
                                                        <ul>
                                                            <li>Todos los accionamientos de la unidad de control se quedaran sin corriente electrica.</li>
                                                            <li>El separador se apagara de una forma controlada con dos expulsiones completas.</li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>