<div class="row">
    <p style="margin-left: 15px;color: #ffffff;">Se puede usar MINERAL OIL O SYNTHETIC OIL esto dependerá de lo solicitado en el manual del fabricante
    </p>
</div>
<div class="row" style="color: #ffffff;margin-bottom: 20px;">
    <div class="col-6"><img src="../media/imagenes/mantenimiento/oil_change/Imagen9.png" alt="" style="width: 100%;"></div>
    <div class="col-6">
        <p>Llenar el DRIVE con aceite antes de operar el purificador
        </p>
        <ul>
            <li>Desenrosque el tapón roscado </li>
            <li>Llene de aceite a través del orificio de carga</li>
        </ul>
        <p>Cantidad de llenado aprox. 2,5 litros
        </p>
    </div>
</div>
<div class="row" style="color: #ffffff;margin-bottom: 20px;">
    <div class="col-6"><img src="../media/imagenes/mantenimiento/oil_change/Imagen10.png" alt="" style="width: 100%;"></div>
    <div class="col-6">
        <ul>
            <li>Verificar el nivel de aceite en estado de reposo
            </li>
            <li>El nivel de aceite nunca debe descender por debajo del tercio inferior de la mirilla durante el funcionamiento</li>
        </ul>
        <p style="
    margin-bottom: 0px;
">1 Máximo nivel de aceite       
        </p>
        <p>2 Mínimo nivel de aceite            
        </p>
    </div>
</div>
<div class="row" style="color: #ffffff;padding-bottom: 20px;">
    <div class="col-6"><img src="../media/imagenes/alerta.png" class="align-middle intermitencia" alt="" style="width: 120px;margin-left: auto;margin-right: auto;display: block;"></div>
    <div class="col-6">
        <ul style="
    margin-left: -20px;
">
            <li>Verificar el nivel de aceite cada semana</li>
            <li>De vez en cuando, afloje el tornillo de drenaje de aceite y compruebe si hay agua en el baño de aceite. Cuando el aceite presenta una coloración lechosa (emulsificación), el aceite debe cambiarse inmediatamente.
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <video id="video" width="100%" height="350" controls><source src="../media/videos/mov_bbb.mp4"></video>
    </div>
</div>